pkgbase = tracker3
	pkgdesc = SQLite-based RDF triplestore database with SPARQL interface
	pkgver = 3.7alpha
	pkgrel = 1
	url = https://tracker.gnome.org/
	arch = x86_64
	arch = arm
	arch = aarch64
	arch = powerpc
	arch = pentium4
	arch = i686
	arch = armv7h
	license = LGPL-2.1-or-later
	makedepends = asciidoc
	makedepends = bash-completion
	makedepends = dbus
	makedepends = git
	makedepends = gobject-introspection
	makedepends = libsoup
	makedepends = meson
	makedepends = python-dbus
	makedepends = python-gobject
	makedepends = python-tappy
	makedepends = systemd
	makedepends = vala
	makedepends = gi-docgen
	depends = glib2
	depends = icu
	depends = json-glib
	depends = libsoup3
	depends = libstemmer
	depends = libxml2
	depends = sqlite
	source = git+https://gitlab.gnome.org/GNOME/tracker.git#commit=b310f3a9cbcb8c76ca08b3269cbe439485391e9e
	source = git+https://gitlab.gnome.org/GNOME/gvdb.git
	b2sums = SKIP
	b2sums = SKIP

pkgname = tracker3
	optdepends = libsoup: Alternative remoting backend
	provides = libtracker-sparql-3.0.so
